<ion-content>
  <ion-header class="neon-border-bottom">
    <ion-toolbar>
      <ion-title class="text-white">Editar Playlist</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <div class="custom-form">
      <ion-item class="custom-item text-white">
        <ion-input type="text" name="playlistName" [(ngModel)]="playlist.name" label="Nombre de la Playlist"
        labelPlacement="floating" placeholder="Ingresa el nombre de la playlist"></ion-input>
      </ion-item>
      <ion-button class="custom-button" expand="block" (click)="closePopover()">Cerrar</ion-button>
      <ion-button class="custom-button" expand="block" (click)="saveChanges()">Guardar</ion-button>
    </div>
  </div>
  <ion-alert header="Ops.." subHeader="Parece que algo salió mal. Inténtalo de nuevo." [message]="errorMessage"
    [buttons]="alertButtons" [isOpen]="isAlertOpen" (didDismiss)="setOpen(false)"></ion-alert>
</ion-content>