<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Creadores</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="EliasInfo" src="../../../assets/eliasinfo.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Desarrollador</ion-card-subtitle>
      <ion-card-title>Elías Mena Fonseca</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-padding-bottom">
        Desarrollador de software Jr, apasionado por la tecnología y la programación.
      </p>

      <ion-text color="dark">
        <h1>Contacto:</h1>
      </ion-text>
      <ion-list>
        <ion-item>
          <ion-label><ion-icon name="mail-outline"></ion-icon> jmenafonseca28&#64;gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="logo-linkedin"></ion-icon> linkedin.com/in/eliasmena2811</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="logo-github"></ion-icon> github.com/jmenafonseca28</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="logo-gitlab"></ion-icon> gitlab.com/jmenafonseca28</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sobre el proyecto</ion-card-subtitle>
      <ion-card-title>M3UHUB</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-padding-bottom">
        Este proyecto fue creado con el fin de facilitar la creación de listas M3U para IPTV, con la posibilidad de
        agregar canales de manera sencilla y gestionarlos de forma eficiente.
      </p>
      <p class="ion-padding-bottom">
        Fue un proyecto creado con el fin de aprender y mejorar mis habilidades en el desarrollo de aplicaciones web,
        además que fue un
        proyecto del curso Ingeniería de software en la Universidad de Costa Rica.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>