<ion-header [translucent]="true" class="dark-theme">
  <ion-toolbar>
    <ion-title class="text-white">
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content dark-theme" [fullscreen]="true">
  <div class="login-container neon-border">
    <ion-card class="color4">
      <ion-card-header class="header">
        <ion-card-title class="color2 text-white">M3UHUB</ion-card-title>
        <ion-card-subtitle class="color2 text-white">Ingrese sus datos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="ion-padding">
          <ion-item class="text-white">
            <ion-label position="floating">Correo electr&oacute;nico</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="user.email"></ion-input>
          </ion-item>

          <ion-item class="text-white">
            <ion-label position="floating">Contrase&ntilde;a</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>

          <ion-button expand="block" color="primary" (click)="login()">
            <ion-icon name="person-sharp"></ion-icon>
            Iniciar sesi&oacute;n
          </ion-button>
          <ion-button expand="block" color="primary" (click)="register()">
            <ion-icon name="person-add-sharp"></ion-icon>
            Registrarse
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-alert header="Ops.." subHeader="Parece que algo salió mal. Inténtalo de nuevo." [message]="errorMessage"
      [buttons]="alertButtons" [isOpen]="isAlertOpen" (didDismiss)="setOpen(false)"></ion-alert>
  </div>
</ion-content>
