<ion-header>
  <ion-toolbar>
    <ion-title>Editar Canal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-input type="text" name="title" [(ngModel)]="channel.title" label="Titulo del Canal*" labelPlacement="floating"
      placeholder="Ingresa el titulo del canal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" name="url" [(ngModel)]="channel.url" label="Url del Canal*" labelPlacement="floating"
      placeholder="Ingresa la url del canal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" name="tvgName" [(ngModel)]="channel.tvgName" label="Nombre del Canal"
      labelPlacement="floating" placeholder="Ingresa el nombre del canal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" name="tvgChannelNumber" [(ngModel)]="channel.tvgChannelNumber"
      label="N&uacute;mero del Canal" labelPlacement="floating" placeholder="Ingresa el número del canal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" name="logo" [(ngModel)]="channel.logo" label="Url del logo del Canal"
      labelPlacement="floating" placeholder="Ingresa la url del logo del canal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" name="groupTitle" [(ngModel)]="channel.groupTitle" label="Grupo del Canal"
      labelPlacement="floating" placeholder="Ingresa el grupo del canal"></ion-input>
  </ion-item>
  <ion-button class="custom-button" (click)="closePopover()">Cerrar</ion-button>
  <ion-button class="custom-button" (click)="onSubmit()">Editar</ion-button>

  <ion-alert header="Ops.." subHeader="Parece que algo salió mal. Inténtalo de nuevo." [message]="errorMessage"
    [buttons]="alertButtons" [isOpen]="isAlertOpen" (didDismiss)="setOpen(false)"></ion-alert>

  <ion-toast [isOpen]="isOpenToast" [message]="messageToast" [duration]="5000" (didDismiss)="toggleToast()"></ion-toast>
</ion-content>