<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarse</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="register-container">
    <ion-card>
      <ion-card-header class="header">
        <ion-card-title>Registro</ion-card-title>
        <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="ion-padding">
          <ion-item>
            <ion-input type="text" [(ngModel)]="user.name" label="Nombre" labelPlacement="floating" placeholder="Ingrese el nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="user.lastName" label="Apellido" labelPlacement="floating" placeholder="Ingrese el apellido"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="email" [(ngModel)]="user.email" aria-required="true" label="Correo electr&oacute;nico" labelPlacement="floating" placeholder="Ingrese el correo electr&oacute;nico"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" [(ngModel)]="user.password" label="Contrase&ntilde;a" labelPlacement="floating" placeholder="Ingrese la contrase&ntilde;a"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" [(ngModel)]="user.confirmPassword" label="Confirmar contrase&ntilde;a" labelPlacement="floating" placeholder="Ingrese la contrase&ntilde;a"></ion-input>
          </ion-item>

          <ion-button expand="block" color="primary" (click)="register()">Registrarse</ion-button>
          <ion-button expand="block" color="primary" [routerLink]="['/login']">Atrás</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-alert header="Ops.." subHeader="Parece que algo salió mal. Inténtalo de nuevo." [message]="errorMessage"
    [buttons]="alertButtons" [isOpen]="isAlertOpen" (didDismiss)="setOpen(false)"></ion-alert>
</ion-content>